{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Printivo - Quality Printing Services</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet'>
    <link href="{% static 'css/style.css' %}" rel='stylesheet'>
    
</head>
<body>
    {% include "base.html" %}
    <!-- Hero Section -->
    <section class="hero-section py-5">
        <div class="container">
            <div class="row align-items-center">
            <div class="col-lg-6">
                <h1 class="display-4 fw-bold mb-4">Quality Prints</h1>
                <p class="lead mb-4">Shipped to your doorstep</p>
                <div class="search-box">
                <p>What will you like to print today?</p>
                <input type="text" class="form-control form-control-lg" placeholder="Search for Business Cards, T-shirts, Mugs, etc">
                </div>
            </div>

            <div class="col-lg-6">
                <img src="{% static 'images/Card3_n9kqin.png' %}" alt="Printing Services" class="img-fluid rounded">
            </div> 
            </div>
        </div>
        </section>

   

    <!-- Popular Products -->
    <section class="popular-products py-5 bg-light">
      <div class="container">
        <div class="other">
        <h2 class="section-title mb-4">Popular Products</h2> 
        <a class="pro" href="{% url 'app:all_product' %}">See All Products</a>
        </div>
        <div class="row g-4">
          <div class="col-md-3">
            <div class="card product-card">
              <img src="{% static 'images/card.png' %}" class="card-img-top" alt="Business Cards">
              <div class="card-body">
                <h5 class="card-title">Two- sided Business Cards</h5>
                <p class="card-text">STARTING AT</p>
                <p>#15,000 <span>per 100</span></p>
                <a href="#" class="btns">Order Now</a>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card product-card">
              <img src="{% static 'images/flyer.png' %}" class="card-img-top" alt="Flyers">
              <div class="card-body">
                <h5 class="card-title">A5 flyers (Single Sided)</h5>
                <p class="card-text">STARTING AT</p>
                <p>#25,000 <span>per 100</span></p>
                <a href="#" class="btns btn-outline">Order Now</a>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card product-card">
              <img src="{% static 'images/love.png' %}" class="card-img-top" alt="Stickers">
              <div class="card-body">
                <h5 class="card-title">Round Stickers (3.5" Diameter)</h5>
                <p class="card-text">STARTING AT</p>
                <p>#17,000 <span>per 100</span></p>
                <a href="#" class="btns btn-outline">Order Now</a>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card product-card">
              <img src="{% static 'images/care.png' %}" class="card-img-top" alt="Simple Mugs">
              <div class="card-body">
                <h5 class="card-title">Simple Mugs</h5>
                <p class="card-text">STARTING AT</p>
                <P>#4,800 <span>per 1</span></P>
                <a href="#" class="btns btn-outline-primary">Order Now</a>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card product-card">
              <img src="{% static 'images/postcard.jpg' %}" class="card-img-top" alt="Postcards">
              <div class="card-body">
                <h5 class="card-title">Postcards (A6)</h5>
                <p class="card-text">STARTING AT</p>
                <P>#22,300 <span>per 50</span></P>
                <a href="#" class="btns btn-outline">Order Now</a>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card product-card">
              <img src="{% static 'images/rollup banner.png' %}" class="card-img-top" alt="Banners">
              <div class="card-body">
                <h5 class="card-title">Roll Up Banners (Big Base)</h5>
                <p class="card-text">STARTING AT</p>
                <P>#55,000 <span>per 1</span></P>
                <a href="#" class="btns btn-outline">Order Now</a>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card product-card">
              <img src="images/product-5-(1).png" class="card-img-top" alt="Posters">
              <div class="card-body">
                <h5 class="card-title">A2 Posters</h5>
                <p class="card-text">STARTING AT</p>
                <P>#71,100 <span>per 100</span></P>
                <a href="#" class="btns btn-outline">Order Now</a>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card product-card">
              <img src="images/trifold-brochure-printing.png" class="card-img-top" alt="Trifold Brochures">
              <div class="card-body">
                <h5 class="card-title">Trifold Brochures</h5>
                <p class="card-text">STARTING AT</p>
                <P>#47,500 <span>per 100</span></P>
                <a href="#" class="btns btn-outline">Order Now</a>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card product-card">
              <img src="images/land.png" class="card-img-top" alt="ID Card">
              <div class="card-body">
                <h5 class="card-title">Landscape ID Cards</h5>
                <p class="card-text">STARTING AT</p>
                <P>#3,100 <span>per 1</span></P>
                <a href="#" class="btns btn-outline">Order Now</a>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card product-card">
              <img src="images/White-tshirt.png" class="card-img-top" alt="T-Shirts">
              <div class="card-body">
                <h5 class="card-title">Off White T-shirts</h5>
                <p class="card-text">STARTING AT</p>
                <P>#6,000 <span>per 1</span></P>
                <a href="#" class="btns btn-outline">Order Now</a>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card product-card">
              <img src="images/product-3-(1).png" class="card-img-top" alt="Paper Bags">
              <div class="card-body">
                <h5 class="card-title">A4 Branded Paper Bags</h5>
                <p class="card-text">STARTING AT</p>
                <P>#104,800 <span>per 100</span></P>
                <a href="#" class="btns btn-outline">Order Now</a>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card product-card">
              <img src="images/bag.jpeg" class="card-img-top" alt="Courier Bags">
              <div class="card-body">
                <h5 class="card-title">A4 Courier Bags</h5>
                <p class="card-text">STARTING AT</p>
                <P>#27,500 <span>per 100</span></P>
                <a href="#" class="btns btn-outline">Order Now</a>
              </div>
            </div>
          </div>
          
        </div>
      </div>
    </section>

    <!-- Popular  Categories-->
    <section class="popular-categories py-5 bg-light">
        <div class="container">
          <div class="other">
          <h2 class="section-title mb-4">Popular Categories</h2> 
          <a class="pro" href="{% url 'app:all_product' %}">See All Products</a>
          </div>
          <div class="row g-4">
            <div class="col-md-3">
              <div class="card product-card">
                <img src="images/card.png" class="card-img-top" alt="Greeting Cards">
                <div class="card-body">
                  <h5 class="card-title">Greeting Cards</h5>
                  <p class="card-text">STARTING AT</p>
                  <p>#29,800 <span>per 50</span></p>
                  <a href="#" class="btns btn-outline">Order Now</a>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="card product-card">
                <img src="images/flyer.png" class="card-img-top" alt="Stickers">
                <div class="card-body">
                  <h5 class="card-title">Stickers</h5>
                  <p class="card-text">STARTING AT</p>
                  <p>#5,400 <span>per 75</span></p>
                  <a href="#" class="btns btn-outline">Order Now</a>
                </div>
              </div>
            </div>
            
            
          </div>
        </div>
      </section>

     <section class="trust py-5 bg-light">
      <div class="container">
        <h1>Nigeria’s No. 1 online print shop 👑</h1>
        <p>Our print services and solutions are trusted by these brands and over 15,000 other businesses in Nigeria.</p>
        <img src="{% static 'images/Group_61_h8vxko.png' %}" alt="">
      </div>
     </section>


     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    {% include "footer.html" %}
</body>
</html>